@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
}

@layer base {
    body {
        background-color: #16151d;
        font-family: 'Nunito', sans-serif;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #cd0c0d;
        border-radius: 4px;
    }

    @keyframes shimmer {
        0% {
        background-position: -1000px 0;
        }
        100% {
        background-position: 1000px 0;
        }
    }

    .animate-shimmer {
        background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
        background-size: 1000px 100%;
        animation: shimmer 2s infinite;
    }

    .table {
      border-collapse: separate;
      border-spacing: 2.5px;
    }
}